<div id="spotlight" class="page">
	<h1>Instant Audience Feedback</h1>
	<h2>The readily available fail-safe live voting services with all features customizable..</h2>
	<div class="row-fluid">
		<div id="left-spot" class="span5">
			<ul id="spotlight-features">
				<li>
					<h3>Delight your customers</h3>
					<p>Create outstanding Products &amp; Services.</p>
				</li>
				<li>
					<h3>Focus on what matters</h3>
					<p>Feeling overwhelmed is a thing of the past.</p>
				</li>
				<li>
					<h3>Stay hungry. Stay foolish.</h3>
					<p>Lorem ipsum dolor sit amet :)</p>
				</li>
			</ul>
			<%= link_to "signup" do %>
			<div class="btn-big btn btn-primary">Get started now</div>
			<% end %>
		</div>
		<div id="right-spot" class="span7">
			<div id="slide-wrapper">
				<div id="slides">
<!-- 					<img src="screenshot.jpg"> -->
				</div>
			</div>
		</div>
	</div>
</div>

<div id="event-review">
	<div class="page">
		<div class="row-fluid">
			<div id="current-event" class="span6">
				<h3>Current Event</h3>
				<a href="/cmusummit" class="thumbnail">
					<img src="assets/placehold-it-800x600.gif" alt="" />
					<div class="caption">
						<h5>CMU Summit New Venture Competition, April 29, 2012</h5>
					</div>
				</a>
			</div>
			<div id="previous-event" class="span6">
				<h3>Previous Events</h3>
				<div class="carousel">
					<!-- Carousel items -->
					<div class="carousel-inner">
						<div class="thumbnail item active">
							<img src="assets/placehold-it-800x600.gif" alt="" />
							<div class="caption">
								<h5>Zhenfund Harvard, 2011</h5>
							</div>
						</div>
						<div class="thumbnail item">
							<img src="assets/placehold-it-800x600.gif" alt="" />
							<div class="caption">
								<h5>MITCHIEF, 2011</h5>
							</div>
						</div>
						<div class="thumbnail item">
							<img src="assets/placehold-it-800x600.gif" alt="" />
							<div class="caption">
								<h5>iWeekend, 2011</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="vote-review" class="page">
	<h3>Stream</h3>
	
</div>